@import url('https://fonts.googleapis.com/css2?family=Source+Sans+3:ital,wght@0,200..900;1,200..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Source Sans 3", sans-serif;
}

html,
body {
    background-color: #495BCF;
    height: 100%;
    width: 100%;
}

nav {
    display: flex;
    justify-content: space-between;
    padding: 20px 0;
    align-items: center;
    margin: 0 auto;
    max-width: 1200px;
}

nav img {
    width: 128px;
}

.nav-items {
    display: flex;
    gap: 40px;
}

.nav-items a {
    color: white;
    text-decoration: none;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 5%;
    font-size: 16px;
}

.lander {
    display: flex;
    justify-content: space-between;
    max-height: 600px;
    align-items: center;
    padding: 56px 0 78px 0;
    max-width: 1200px;
    margin: 0 auto;
}

.right {
    max-width: 600px;
    color: white;
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.right h1 {
    font-size: 72px;
    line-height: 0.90;

}

.right p {
    font-size: 28px;
    font-weight: 300;
    line-height: 1.2;
}

.cta button {
    margin-right: 20px;
}

.cta1 {
    color: #383A4A;
    background-color: #00D3D4;
    border: none;
    font-size: 18px;
    font-weight: bold;
    padding: 9px 28px;
    border-radius: 24pt;
    text-transform: uppercase;
    letter-spacing: 1px;
    transition: 0.2s ease;
}

.cta1:hover {
    cursor: pointer;
    outline: 2px solid white;
}

.cta2 {
    color: #ffffff;
    background-color: #ffffff00;
    border: none;
    outline: 2px solid white;
    font-size: 18px;
    font-weight: bold;
    padding: 9px 28px;
    border-radius: 24pt;
    text-transform: uppercase;
    letter-spacing: 1px;
    transition: 0.3s ease;
}

.cta2:hover {
    cursor: pointer;
    color: #383A4A;
    background-color: #ffffff;
    outline: none;
    border: none;
    font-size: 18px;
    font-weight: bold;
    padding: 9px 28px;
    border-radius: 24pt;
    text-transform: uppercase;
    letter-spacing: 1px;
}

.features-wrapper {
    background-color: white;
}

.features {

    max-width: 1200px;
    margin: 0 auto;
    background-color: white;
    display: flex;
    justify-content: center;
    gap: 100px;
    align-items: flex-start;
    padding: 80px 0;
}

.feature {
    display: flex;
    flex-direction: column;
    max-width: 330px;
}

.feature img {
    width: 40px;
    margin-bottom: 10px;
}

.feature .payment {
    width: 58px;
}

.feature h3 {
    font-size: 24px;
    margin-bottom: 12px;
}

.feature p {
    font-size: 18px;
    font-weight: 300;
}

.pink {
    background-color: #BF1085;
    color: white;
}

.dashboard {
    max-width: 1000px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 90px 40px;
}

.dashboard h2 {
    margin-bottom: 10px;
    font-size: 48px;
    text-align: center;
}

.dashboard p {
    margin-bottom: 30px;
    font-size: 24px;
    text-align: center;
    font-weight: 300;
}

.founder-wrapper {
    background-color: white;
    color: #383A4A;
}

.founder {
    padding: 80px 0;
    display: flex;
    flex-direction: column;
    max-width: 800px;
    margin: 0 auto;
    gap: 45px;
}

.founder div {
    display: flex;
    align-items: center;
}

.founder img {
    width: 76px;
}

.founder h3 {
    font-size: 36px;
}

.found-details img {
    border-radius: 50%;
    margin-right: 25px;
}

.gradient {
    background: linear-gradient(to right, #3B384A, #495BCF, #00D3D4);

    color: white;
}

.get-started {
    max-width: 800px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 350px;
    justify-content: center;
}

.get-started h2 {
    font-size: 48px;
    margin-bottom: 20px;
}

.get-started p {
    font-size: 28px;
    font-weight: 300;
    margin-bottom: 30px;
}

.get-started a {
    color: #383A4A;
    text-decoration: none;
    padding: 10px 25px;
    background-color: white;
    font-weight: 800;
    border-radius: 24pt;
}
footer{
    color: #383A4A;
    background-color: white;
}
.foot-wrapper{
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    gap: 50px;
    padding: 80px 0;
}
.logo p{
    font-size: 18px;
}
.linked-lists{
    display: flex;
    justify-content: flex-start;
    gap: 200px;
}
.linked-lists h3{
    font-size: 22px;
}
.linked-lists li{
    list-style: none;
}
li a{
    color: #383A4A;
    text-decoration: none;
    font-size: 18px;
}
li img{
    margin-right: 10px;
}
@media (max-width:430px) {
    nav {
        margin: 0;
        justify-content: space-around;
    }

    .nav-items a {
        font-size: 14px;
    }

    nav img {
        width: 70px;
    }

    .nav-items {
        gap: 20px;
    }

    .lander {
        flex-direction: column;
        max-width: 320px;
        margin: 0 auto;
        gap: 40px;
        margin-bottom: 38px;
    }

    .lander img {
        width: 200px;
        order: -1;
    }

    .right {
        gap: 0;
    }

    .right h1 {
        font-size: 42px;
        margin-bottom: 25px;
    }

    .right p {
        font-size: 24px;
        margin-bottom: 40px;
    }

    .cta {
        display: flex;
        flex-direction: row;
        gap: 19px;
    }

    .cta button {
        margin: 0;
    }

    .cta1 {
        letter-spacing: 0px;
    }

    .cta2 {
        letter-spacing: 0px;
    }

    .features {
        flex-direction: column;
        align-items: center;
        gap: 40px;
        padding: 60px 0;
    }

    .feature img {
        margin: 7px auto;
    }

    .feature h3 {
        text-align: center;
        margin-bottom: 5px;
    }

    .feature p {
        text-align: center;
    }

    .dashboard {
        max-width: 375px;
        margin: 0 auto;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 90px 30px;
    }

    .dashboard h2 {
        margin-bottom: 10px;
        font-size: 36px;
        text-align: center;
    }

    .dashboard p {
        margin-bottom: 30px;
        font-size: 19px;
        text-align: center;
        font-weight: 300;
    }

    .dashboard img {
        width: 325px;
    }

    .founder {
        padding: 80px 26px;
        display: flex;
        flex-direction: column;
        max-width: 800px;
        margin: 0 auto;
        gap: 20px;
    }

    .founder div {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .founder img {
        width: 50px;
    }

    .found-details p {
        text-align: center;
    }

    .founder h3 {
        font-size: 24px;
    }

    .found-details img {
        border-radius: 50%;
        margin-bottom: 10px;
        width: 100px;
        margin-right: auto;
        margin-left: auto;
    }

    .gradient {
        background: linear-gradient(to right, rgb(55, 57, 74), #495BCF, #3380d0);

        color: white;
    }

    .get-started {
        max-width: 800px;
        margin: 0 auto;
        display: flex;
        flex-direction: column;
        align-items: center;
        min-height: 350px;
        justify-content: center;
        padding: 0 10px;
    }

    .get-started h2 {
        font-size: 36px;
        text-align: center;
        margin-bottom: 20px;
    }

    .get-started p {
        font-size: 24px;
        text-align: center;
        font-weight: 300;
        margin-bottom: 30px;
    }

    .get-started a {
        color: #383A4A;
        text-decoration: none;
        padding: 10px 25px;
        background-color: white;
        font-weight: 800;
        border-radius: 24pt;
    }
    footer{
    color: #383A4A;
    background-color: white;
}
.foot-wrapper{
    
    padding: 60px 15px;
}
.logo p{
    font-size: 18px;
}
.linked-lists{
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    gap: 40px;
}
.linked-lists h3{
    font-size: 22px;
}
.linked-lists li{
    list-style: none;
}

}